.btn{background-color: #f8f9f8 !important; box-shadow: none !important; border: 0px !important;}
.footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: teal;
    color: white;
    padding: 10px;
    text-align: center;
}

.image-center{

    display: block;
    margin: 130px auto 70px auto;
    width: 250px;
}